.aviation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5rem;
}

.aircraft {
    background: #46a2f2;
    padding: 2.5rem;
    border-radius: 3rem;
}

.aircraft > h2 {
    margin: 0;
    text-align: center;
}

.aircraft > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
}

.aircraft li {
    padding-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .aviation {
        flex-direction: row;
        width: auto;
        justify-content: center;
    }
}
