a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    border-radius: 0.5rem;
}

#body {
    display: flex;
    flex-direction: row;
}

Nav {
    flex-basis: max-content;
}

@media only screen and (min-width: 768px) {
    #body {
        flex-direction: column;
    }
}
