a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

a:hover {
    color: #004e92;
    /* font-size: 1.7rem; */
}

button {
    border: none;
    border-radius: 0.5rem;
}

#body {
    display: flex;
    flex-direction: row;
}

Nav {
    flex-basis: max-content;
}

@media only screen and (min-width: 768px) {
    #body {
        flex-direction: column;
    }
}
